.loginMain,
.regMain {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.loginContainer {
  height: 102%;
}

.imageContainer {
  background: linear-gradient(316.73deg, #1cf1cf 0%, #0fcf9b 90%);
  height: 100%;
}

.imageContainer img {
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .formGrid {
    background: linear-gradient(316.73deg, #1cf1cf 0%, #0fcf9b 90%);
  }

  .regMain {
    height: auto !important;
    overflow-y: auto !important;
  }

  .loginContainer {
    height: auto !important;
  }
}
